# "제목"
> "요약"

- toc:true ## 자동으로 테이블 contents 만들기.
- branch: master ## branch
- badges: true ## badges
- comments: true ##댓글
- author: Moon Seong Il
- categories: [jupyter]

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
x=range(1,30)

range(1, 30)

In [ ]:
for i in x:
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29